@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 mt-5">
    <h1 class="display-4">Welcome To SchoolWeb</h1>
    <img src="~/images/school-hero.jpg" class="img-fluid w-75 h-100" alt="...">
    
</div>
