@model SchoolWeb.Models.Exam

<form method="POST" asp-controller="Exam" asp-action="Edit">
	<div class="border p-3 mt-5">
		<div class="row pb-2">
			<h3 class="text-primary">Rate Exam</h3>
			<hr />
		</div>  
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
			 <select hidden asp-for="SubjectID" class="form-control" asp-items="ViewBag.SubjectName"></select>
			<span  class="text-danger" asp-validation-for="SubjectID"></span>
		</div>
        <div>
			<select hidden asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
		</div>
        <div class="mb-3">
            <label asp-for="Grade" class="control-label"></label>
            <input asp-for="Grade" class="form-control" min="1" max="10"/>
            <span asp-validation-for="Grade" class="text-danger"></span>
        </div>

		<button type="submit" class="btn btn-primary" style="width: 150px">Edit</button>
		<a asp-controller="Exam" asp-action="Index" class="btn btn-outline-muted">Back to Exam List</a>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}